.Homepage{
    display: flex;
    flex-direction: column;
}

.part2{
    flex-direction: column;

}

.part3{
    flex-direction: column;

}

.part4{
    flex-direction: column;

}

.part5{
    flex-direction: column;

}

.part6{
    flex-direction: column;

}

.part7
{
    flex-direction: column;

}