$primary-color: #989898;
$secondary-color: #ffffff;


.howitworks {
    // display: inline-flex;
    background-color: white;
    height: 200px;
    width: 100%;
    position: center;
    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-size: 10vh;



}

.steps {
    margin: auto;
    width: 65%;
    height: 75px;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;


}

.description {
    color: $primary-color;
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
}

.headertext {
        
}

.step1 {
    // align-content: space-between;


}

.step2 {

}

.step3 {

}